@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding: 1rem 2rem;
}

.name {
    font-weight: 500;
}

#loadMoreButton {
    border: none;
    background-color: rgb(145, 145, 202);
    cursor: pointer;
    border-radius: 3em;
    color: #fff;
    padding: .5em 1.8em;
}

#loadMoreButton:hover{
    background-color: gray;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content {
        padding: 2rem;
    }

    .name {
        font-size: 2em;
    }
}

@media (min-width: 1280px) and (max-width: 1800px) {
    .name {
        margin-left: 1em;
    }

}